body {
  margin: 0;
  padding: 0;

  > header,
  section {
    padding: 0 1rem;

    .inner {
      @include outer-container;
      padding: 1rem 0;
    }
  }

  > header {
    background: $bright-pink;
    color: white;

    h1 {
      font-size: 2rem;
      margin: 0;

      @include media($large-screen) {
        font-size: 3vw;
      }
    }

    .dates {
      font-size: 1.5rem;
    }
  }
}

h3 {
  color: $mid-grey;
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: $small-spacing;

  + h4 {
    margin-top: -.5rem;
  }
}
