li.project,
li.goal {
  padding: 1rem 0;
  border-bottom: $base-border;

  &:first-child {
    border-top: $base-border;
  }
}

form {
  section {
    border-bottom: $base-border;

    .field-hint {
      color: $mid-grey;
      font-size: .875rem;
    }

    @include media($medium-screen) {
      .field {
        @include span-columns(8);
      }

      .field-hint {
        margin-top: 2rem;
        @include span-columns(4);
        @include omega(2n);
      }
    }
  }
}

.project-info {
  h3 {
    color: $mid-grey;
    font-weight: normal;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: $small-spacing;
  }

  @include media($medium-screen) {
    .description {
      @include span-columns(8);
    }

    .contributors {
      @include span-columns(4);
      border-left: $base-border;
      padding-left: 1rem;

      ul {
        margin-bottom: $base-spacing;
      }
    }
  }
}

section.goal {
  border-top: $base-border;
}
